<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainability Purchase</title>
    <link rel="stylesheet" href="/static/css/bundle.css">
</head>
<body>
    <div class="container">
        <div class="header">
            YOU SAVE 2KG CO2 WITH THIS BUY
        </div>
        <div class="items">
            <div class="item">
                <img src="/static/I1.JPEG" alt="Item 1">
            </div>
            <div class="plus">+</div>
            <div class="item">
                <img src="/static/I2.JPEG" alt="Item 1">
            </div>
            <div class="plus">+</div>
            <div class="item">
                <img src="/static/I3.JPEG" alt="Item 1">
            </div>
        </div>
        <div class="price-container">
            <div class="discount">-40%</div>
            <div class="price">10.50€</div>
        </div>
    </div>
</body>
</html>