<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mobile Screenshot Layout</title>
    <link rel="stylesheet" href="/static/css/discount.css">
</head>
<body>

    <a href="/">
        <img src="/static/L11.JPEG" alt="Screenshot 0" class="fixed-top">
    </a>
    

    <div class="screenshot-container">
        <img src="/static/L8.JPEG" alt="Screenshot 1" class="screenshot">
        <img src="/static/L9.JPEG" alt="Screenshot 1" class="screenshot">
        <img src="/static/L10.JPEG" alt="Screenshot 1" class="screenshot">

        
        
    </div>
    <img src="/static/L12.JPEG" alt="Screenshot 2" class="fixed-bottom">
</body>
</html>
