<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mobile Screenshot Layout</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="screenshot-container">
        <img src="/static/L1.JPEG" alt="Screenshot 1" class="screenshot">
        <img src="/static/L2.JPEG" alt="Screenshot 2" class="screenshot">
        <a href="/discount">
            <img src="/static/L5.JPEG" alt="Screenshot 2" class="screenshot">
        </a>
        <img src="/static/L3.JPEG" alt="Screenshot 2" class="screenshot">
        
        
    </div>
   
    <a href="/discount">
        <img src="/static/L4.JPEG" alt="Screenshot 2" class="fixed-bottom">
    </a>
</body>
</html>
